<!DOCTYPE html>
<html>
<body>

<div style="background-color:#E6E6E6; 
            width:340px; 
            margin-left:auto; 
            margin-right:auto;
            border: 20px solid #E6E6E6;
            border-radius: 10px;">

  <h1 style="align:center; font-family:Lucida Sans Unicode; color:#333333">Redcap to Harvest</h1>
  {% if missing_fields %}
     <p style="color:red">
       Please make sure you have provided 
       a data file and data dictionary.
     </p>
  {% elif wrong_filetype %}
     <p style="color:red">
       Both files must have the file 
       extension, '.csv'.
     </p>
  {% endif %}
  <br>
  <form action="" method="post" enctype="multipart/form-data" style="width:340px">
    Data File: <input type="file" name="datafile"><br/>
    Data Dictionary: <input type="file" name="metadatafile"><br/>
    <input type="submit" value="Submit" align="left">
  </form>
  <br>
</div>
</body>
</html>
