<!doctype html>
<html>
    <head>
        <link href="bootstrap.min.css" rel="stylesheet">
        <style>
            input[type=file] {
                padding: 5px;
                background-color: #eee;
                vertical-align: top;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <div class="page-header">
                    <h2>REDCap to Harvest</h2>

                    <p class="lead">Preview and interact with a live Harvest application built directly from your REDCap project!</p>
                </div>

                {% if missing_fields %}
                    <div class="alert alert-danger">
                        <strong>Files required.</strong>
                        Please make sure you have provided a data file and data dictionary.
                    </div>
                {% elif wrong_filetype %}
                    <div class="alert alert-danger">
                        <strong>CSV required.</strong>
                        Both files must have the file extension, <code>.csv</code>.
                    </div>
                {% endif %}

                <form method="post" enctype="multipart/form-data">
                    <h4>1. REDCap Data Dictionary</h4>

                    <div class="form-group">
                        <p>Attach a data dictionary downloaded from your REDCap project page.</p>

                        <input type="file" name="metadatafile">
                    </div>

                    <h4>2. REDCap Data File</h4>

                    <div class="form-group">
                        <p>Attach an data file exported from your REDCap project page.</p>

                        <div class="alert alert-warning">
                            <strong>Note.</strong>

                            This is a public resource. Ensure the exported data does not contain PHI.
                        </div>

                        <input type="file" name="datafile">
                    </div>


                    <h4>3. Launch!</h4>

                    <p class="text-muted">Depending on the size of your data, this may take up to 30 seconds to build.</p>

                    <input class="btn btn-primary" type="submit" value="Launch">
                </form>
            </div>
        </div>
    </body>
</html>
