<!doctype html>
<html>
    <head>
        <link href="bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="page-header">
                    <h2>Containers</h2>
                </div>
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>URL</th>
                            <th>Container ID</th>
                            <th>Created</th>
                            <th>Uptime</th>
			    <th>Stop/Start</th>
			    <th>Remove</th>
			    <th>Logs</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in containers %}
                            <tr>
                                <td>{{ c.status }}</td>
                                <td>{{ c.url|urlize }}</td>
                                <td>{{ c.cid }}</td>
                                <td>{{ c.created }}</td>
                                <td>{{ c.uptime }}</td>
				{% if c.status == 'Running' %}
				    <td>
			                <form action="containers/{{ c.cid }}/stop"
					      method="POST">
			                    <a onclick="this.parentNode.submit()"
				               href="#">
				                Stop
				            </a>
				        </form>
				    </td>
				{% else %}
				    <td>
			                <form action="containers/{{ c.cid }}/start"
					      method="POST">
			                    <a onclick="this.parentNode.submit()"
				               href="#">
				                Start
				            </a>
				        </form>
				    </td>
				{% endif %}
				    <td>
			                <form action="containers/{{ c.cid }}/remove"
					      method="POST">
			                    <a onclick="this.parentNode.submit()"
				               href="#">
				                Remove
				            </a>
				        </form>
				    </td>
				    <td>
				        <a href="containers/{{ c.cid }}/logs">
				            Logs
				        </a>
				    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
